.App {
  text-align: center;
}
.assignment-wrapper {
  border: 1px dashed lightgray;
  padding: 2em;
  border-radius: 1em;
  margin-top: 2em;
}

.assignment-wrapper-title{
  width: min-content !important;
  margin-top: -2em !important;
  margin-bottom: 1em !important;
  background-color: white !important;
  white-space: nowrap !important;
}

.comment-bubble{
  background:#eeeeee;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}
.logo-container {
  margin-top: 20px; /* Adjust the margin value as needed */
}

.logo {
  max-height: 100px; /* Adjust the logo height as needed */
}



/* Your CSS file or component style */
.custom-margin-left {
  margin-left: 10px;
   /* Adjust the value as needed */
}

